<a href="https://colab.research.google.com/github/Jisha25/Practicing/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/User0_credit_card_transactions.csv.zip')
df

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19958,0,4,2009,2,12,13:03,$9.71,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Technical Glitch,No
19959,0,4,2009,2,22,11:58,$27.94,Swipe Transaction,-8129520121141002186,La Verne,CA,91750.0,5211,NaN,No
19960,0,4,2009,2,24,16:53,$13.97,Swipe Transaction,5474320255037684877,Hawthorne,CA,90250.0,5912,NaN,No
19961,0,4,2009,3,29,16:30,$14.27,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,NaN,No
19962,0,4,2009,3,31,13:17,$13.55,Swipe Transaction,-4927381308738947637,Beijing,China,NaN,5812,NaN,No

In [ ]:
df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19963 entries, 0 to 19962
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User            19963 non-null  int64
 1   Card            19963 non-null  int64
 2   Year            19963 non-null  int64
 3   Month           19963 non-null  int64
 4   Day             19963 non-null  int64
 5   Time            19963 non-null  object
 6   Amount          19963 non-null  object
 7   Use Chip        19963 non-null  object
 8   Merchant Name   19963 non-null  int64
 9   Merchant City   19963 non-null  object
 10  Merchant State  18646 non-null  object
 11  Zip             18316 non-null  float64
 12  MCC             19963 non-null  int64
 13  Errors?         574 non-null    object
 14  Is Fraud?       19963 non-null  object
dtypes: float64(1), int64(7), object(7)
memory usage: 2.3+ MB

In [ ]:
df.describe()

,User,Card,Year,Month,Day,Merchant Name,Zip,MCC
count,19963.0,19963.000000,19963.000000,19963.000000,19963.000000,1.996300e+04,18316.000000,19963.000000
mean,0.0,1.910735,2011.011922,6.568101,15.743876,7.825653e+17,88812.744922,5617.940239
std,0.0,1.237763,5.048146,3.477497,8.801378,4.040602e+18,13711.491085,707.982901
min,0.0,0.000000,2002.000000,1.000000,1.000000,-9.179793e+18,1012.000000,1711.000000
25%,0.0,0.000000,2007.000000,4.000000,8.000000,-1.288082e+18,91750.000000,5311.000000
50%,0.0,2.000000,2011.000000,7.000000,16.000000,8.384250e+17,91750.000000,5499.000000
75%,0.0,3.000000,2015.000000,10.000000,23.000000,4.060647e+18,91752.000000,5912.000000
max,0.0,4.000000,2020.000000,12.000000,31.000000,9.137769e+18,99504.000000,9402.000000

In [ ]:
df.isnull().sum()

User                  0
Card                  0
Year                  0
Month                 0
Day                   0
Time                  0
Amount                0
Use Chip              0
Merchant Name         0
Merchant City         0
Merchant State     1317
Zip                1647
MCC                   0
Errors?           19389
Is Fraud?             0
dtype: int64

In [ ]:
df.dropna(axis=0, inplace=True)
df

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
21,0,0,2002,9,9,09:40,$65.50,Swipe Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,Technical Glitch,No
35,0,0,2002,9,12,06:21,$122.10,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Insufficient Balance,No
49,0,0,2002,9,17,06:09,$120.19,Swipe Transaction,-34551508091458520,La Verne,CA,91750.0,5912,Insufficient Balance,No
55,0,0,2002,9,20,06:01,$104.77,Swipe Transaction,-245178307025547046,La Verne,CA,91750.0,5311,Insufficient Balance,No
81,0,0,2002,9,29,06:06,$119.61,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,Insufficient Balance,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19806,0,3,2019,12,4,06:10,$121.46,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,Insufficient Balance,No
19810,0,3,2019,12,6,06:28,$121.41,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Insufficient Balance,No
19829,0,3,2019,12,14,06:19,$119.31,Swipe Transaction,1913477460590765860,La Verne,CA,91750.0,5300,Insufficient Balance,No
19895,0,3,2020,1,30,21:48,$36.63,Swipe Transaction,-6733168469687845480,Mira Loma,CA,91752.0,7832,Insufficient Balance,No
19958,0,4,2009,2,12,13:03,$9.71,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Technical Glitch,No

In [ ]:
value = "Unknown"

df['Merchant State'].fillna(value, inplace=True)
df

<ipython-input-73-b4f210aa92fa>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Merchant State'].fillna(value, inplace=True)

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
21,0,0,2002,9,9,09:40,$65.50,Swipe Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,Technical Glitch,No
35,0,0,2002,9,12,06:21,$122.10,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Insufficient Balance,No
49,0,0,2002,9,17,06:09,$120.19,Swipe Transaction,-34551508091458520,La Verne,CA,91750.0,5912,Insufficient Balance,No
55,0,0,2002,9,20,06:01,$104.77,Swipe Transaction,-245178307025547046,La Verne,CA,91750.0,5311,Insufficient Balance,No
81,0,0,2002,9,29,06:06,$119.61,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,Insufficient Balance,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19806,0,3,2019,12,4,06:10,$121.46,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,Insufficient Balance,No
19810,0,3,2019,12,6,06:28,$121.41,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Insufficient Balance,No
19829,0,3,2019,12,14,06:19,$119.31,Swipe Transaction,1913477460590765860,La Verne,CA,91750.0,5300,Insufficient Balance,No
19895,0,3,2020,1,30,21:48,$36.63,Swipe Transaction,-6733168469687845480,Mira Loma,CA,91752.0,7832,Insufficient Balance,No
19958,0,4,2009,2,12,13:03,$9.71,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Technical Glitch,No

In [ ]:
df['Zip'].fillna(df['Zip'].mean(), inplace=True)
df

<ipython-input-74-738c16506198>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Zip'].fillna(df['Zip'].mean(), inplace=True)

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
21,0,0,2002,9,9,09:40,$65.50,Swipe Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,Technical Glitch,No
35,0,0,2002,9,12,06:21,$122.10,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Insufficient Balance,No
49,0,0,2002,9,17,06:09,$120.19,Swipe Transaction,-34551508091458520,La Verne,CA,91750.0,5912,Insufficient Balance,No
55,0,0,2002,9,20,06:01,$104.77,Swipe Transaction,-245178307025547046,La Verne,CA,91750.0,5311,Insufficient Balance,No
81,0,0,2002,9,29,06:06,$119.61,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,Insufficient Balance,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19806,0,3,2019,12,4,06:10,$121.46,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,Insufficient Balance,No
19810,0,3,2019,12,6,06:28,$121.41,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Insufficient Balance,No
19829,0,3,2019,12,14,06:19,$119.31,Swipe Transaction,1913477460590765860,La Verne,CA,91750.0,5300,Insufficient Balance,No
19895,0,3,2020,1,30,21:48,$36.63,Swipe Transaction,-6733168469687845480,Mira Loma,CA,91752.0,7832,Insufficient Balance,No
19958,0,4,2009,2,12,13:03,$9.71,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Technical Glitch,No

In [ ]:
print(f"Number of duplicates: {df.duplicated().sum()}")
df.drop_duplicates(inplace=True)

Number of duplicates: 0

In [ ]:
df.dtypes

User                int64
Card                int64
Year                int64
Month               int64
Day                 int64
Time               object
Amount             object
Use Chip           object
Merchant Name       int64
Merchant City      object
Merchant State     object
Zip               float64
MCC                 int64
Errors?            object
Is Fraud?          object
dtype: object

In [ ]:
numerical_df = df.select_dtypes(include=np.number)

In [ ]:
numerical_df.dtypes

User               int64
Card               int64
Year               int64
Month              int64
Day                int64
Merchant Name      int64
Zip              float64
MCC                int64
dtype: object

In [ ]:
cor_matrix = numerical_df.corr()['Day']
cor_matrix

User                  NaN
Card            -0.052409
Year            -0.050021
Month            0.079859
Day              1.000000
Merchant Name    0.016304
Zip              0.038138
MCC              0.046546
Name: Day, dtype: float64

In [ ]:
df.to_csv('cleaned_data.csv', index=False)

In [ ]:
pd.read_csv('cleaned_data.csv')

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,9,09:40,$65.50,Swipe Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,Technical Glitch,No
1,0,0,2002,9,12,06:21,$122.10,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Insufficient Balance,No
2,0,0,2002,9,17,06:09,$120.19,Swipe Transaction,-34551508091458520,La Verne,CA,91750.0,5912,Insufficient Balance,No
3,0,0,2002,9,20,06:01,$104.77,Swipe Transaction,-245178307025547046,La Verne,CA,91750.0,5311,Insufficient Balance,No
4,0,0,2002,9,29,06:06,$119.61,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,Insufficient Balance,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,0,3,2019,12,4,06:10,$121.46,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,Insufficient Balance,No
521,0,3,2019,12,6,06:28,$121.41,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Insufficient Balance,No
522,0,3,2019,12,14,06:19,$119.31,Swipe Transaction,1913477460590765860,La Verne,CA,91750.0,5300,Insufficient Balance,No
523,0,3,2020,1,30,21:48,$36.63,Swipe Transaction,-6733168469687845480,Mira Loma,CA,91752.0,7832,Insufficient Balance,No
524,0,4,2009,2,12,13:03,$9.71,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Technical Glitch,No

In [ ]:
df.isnull().sum()

User              0
Card              0
Year              0
Month             0
Day               0
Time              0
Amount            0
Use Chip          0
Merchant Name     0
Merchant City     0
Merchant State    0
Zip               0
MCC               0
Errors?           0
Is Fraud?         0
dtype: int64